body {
    background-color: blue;

}

header {
    color: azure;
    text-align: center;
    font-size: 60px; 
    text-decoration:underline

}

section {
    color: azure;
    text-align: center;

}